*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    color: white;
    font-family: 'Lexend';
   
}





#mission{
    background-image: url("./images/boat-3620840_1280.jpg"); 
    height: 500px;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  
  
}


.banner{
    width: 100%;
    min-height: 80px;
    background-color: black;
    color: white;
    text-align: center;
    line-height: 80px;
    font-size: 50px;
}
.logo img{
    height: 100px;
}

header{
    height: 200px;
    width: 100vw;
    color: white;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
   
   
}

h1 {
    text-align: center;
    font-size: 3em;
   

}
h2 {
    text-align: center;
    font-size: 2em;
   

}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 100%;
}
nav ul {
display:flex;
justify-content: center;

width: 80vw;
flex-wrap: wrap;
list-style: none;

}

nav ul li {
 width: 200px;
 text-align: center;
 font-size: 2rem;
}

nav a{
    color: white;
}

main{
    margin: 0 auto;
    display: block;
    
}


.container{
    width: 200px;
    height: 200px;
    text-align: center;
    padding:10px;
    display: block;
   
}

#portfolio-container, #staff{
    background-color: navy;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;

   

}
 #staff{
    background-image: url("./images/yacht-802319_1280.jpg");
   
   }

   #staff .container{
    width: 400px;
   height: 400px;
   
   
   }

   #staff .container h3{
    color: black;
    font-size: 1.8rem;
    
   }

   #staff .container h4{
    color: black;
    font-size: 1.5rem;
    
   }
   #staff .container img{
    width: 90%;
    height: 70%;
    object-fit: cover;
   
   }
   footer{
    background-color: black;
   }



#portfolio-container h1{
    padding:1em;
}




.portfolio{
    width: 100%;
    display: inline-flex;
    min-height: 400px;
    justify-content: center;
    align-items: center;
      
    flex-wrap: wrap;
   
 
}

.portfolio .container img{
width: 100%;
height: 90%;
}



footer{
    text-align: center;
   

}
footer p{
    font-size: 1.5rem;
}
footer p+p+p{
    padding-top: 1.5rem;
}

footer h2{
    padding: 1rem;
}

